In [1]:
import os

# !export MODIN_OUT_OF_CORE=true
# !export MODIN_MEMORY=200000000000

#os.environ["MODIN_ENGINE"] = "ray"  # Modin will use Ray
#os.environ["MODIN_ENGINE"] = "dask"
import ray
ray.init(num_cpus=int(os.environ['SLURM_CPUS_PER_TASK']))

import modin.pandas as pd
#import pandas as pd

2021-01-08 15:56:52,096	INFO services.py:1092 -- View the Ray dashboard at http://127.0.0.1:8265

In [2]:
import numpy as np

In [3]:

df = pd.DataFrame(dict(A=np.random.randint(1, 10000, 100000)))
for i in range(10):
    df[f'{i}'] = np.random.randint(1, 10000, 100000)

UserWarning: Distributing <class 'dict'> object. This may take some time.

In [4]:
%%time

df.groupby('A').mean()

(pid=15601) FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.

CPU times: user 36.9 ms, sys: 3.64 ms, total: 40.6 ms
Wall time: 146 ms

,0,1,2,3,4,5,6,7,8,9
A,,,,,,,,,,
1,6045.200000,3200.933333,5879.800000,5219.666667,4740.000000,4803.733333,6300.733333,5723.333333,4833.400000,5883.266667
2,3254.375000,5086.375000,4491.375000,5537.875000,4612.625000,5477.500000,3890.875000,5012.625000,5531.125000,4960.375000
3,5353.125000,4475.375000,5705.750000,3054.250000,6410.000000,6284.125000,5422.125000,4168.125000,5915.000000,5329.000000
4,6586.555556,4509.222222,5807.666667,4532.333333,4828.000000,5534.777778,4808.333333,4092.111111,4665.000000,5256.666667
5,3627.666667,4656.166667,4393.333333,5210.000000,3695.250000,6094.083333,5648.666667,5698.416667,5799.333333,4857.833333
...,...,...,...,...,...,...,...,...,...,...
9995,4994.500000,4394.600000,5320.100000,3519.900000,4626.600000,5218.800000,4240.300000,6161.700000,4394.200000,3622.700000
9996,4867.500000,2948.500000,5500.500000,4748.375000,3808.375000,5067.500000,5180.375000,5143.000000,2711.250000,4169.000000
9997,4801.250000,5622.625000,4225.125000,4558.250000,3671.250000,3413.250000,4873.500000,3847.500000,4495.250000,5073.125000
9998,5759.272727,3934.818182,6727.272727,4450.818182,4651.818182,4649.545455,4331.272727,6293.454545,3511.090909,5373.363636
9999,6149.000000,4386.545455,5650.181818,2989.272727,4067.090909,4919.818182,5279.545455,4016.545455,6062.636364,4906.090909